/* Font Import Rules */
/* Google Font: Red Hat Display - 500, 700, 900 */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* Reset Styles */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Variables */

:root {
    --pale-blue: hsl(225, 100%, 94%); 
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

/* Body Styles */

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../images/pattern-background-mobile.svg");
    background-color: var(--pale-blue);
    background-repeat: no-repeat;
    background-size:contain;

}

/** Card Class - this is the card itself */
.card {
    border-radius: 20px;
    background-color: white;
    max-width: 375px;
}

.image-header img {
    max-width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h1 {
    font-weight: 900;
    text-align: center;
    padding: 7% 0;
    font-size: 1.5rem;
    color: var(--dark-blue);
}

.card p {
    text-align: center;
    color: var(--desaturated-blue);
    line-height: 1.5rem;
    padding: 0 15%;
}

.annual-plan-info {
    margin: 7% auto;
    padding: 5% 0;
    background-color: var(--very-pale-blue);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 80%;
}

.annual-plan-title {
    font-weight: 900;
    white-space: nowrap;
    color: var(--dark-blue);
}

.annual-plan-info a {
    color: var(--bright-blue);
    font-weight: 700;
}

.cta-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button {
    width: 80%;
    background-color: var(--bright-blue);
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 2%;
    padding: 5%;
    border-radius: 10px;
    filter: drop-shadow(0 .5rem 1rem var(--desaturated-blue));
}

button:hover,
.annual-plan-info a:hover {
    opacity: 70%;
    transition: .4s;
    text-decoration: none;
}

.cta {
    display: block;
    color: var(--desaturated-blue);
    margin: 7% 0;
    text-decoration: none;
    font-weight: 900;
}

.cta:hover {
    color: var(--dark-blue);
    transition: .4s;
}

footer {
    padding: 2% 0;
}

/* Media Query */

@media only screen and (min-width: 600px) {
    body {
        background-image: url("../images/pattern-background-desktop.svg");
    }
}

/* Resources 

How to turn off word wrapping in HTML? - https://stackoverflow.com/questions/4652654/how-to-turn-off-word-wrapping-in-html


*/




